.ql-editor {
  min-height: 11in;

  width: max(80vw, 200px);
  border: 1px solid black;
  border-radius: 10px;
  margin: 2rem;
  backdrop-filter: blur(4px);
  background-color: rgba(254, 249, 249, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}

.ql-container.ql-snow {
  border: none;
}
.ql-toolbar {
  display: flex;

  width: max(80vw, 200px);
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 1in;
  position: sticky;
  top: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem;
  z-index: 1;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}
